body {
    background-color: bisque;
}

h1 {
    font-size: 40px;
    text-align: center;
    font-family: Brush Script MT, 'Times New Roman', Times, serif;
}

#index {
    background-color: rgba(197, 120, 75, 0.781);
    text-align: center;
    font-size: 40px;
    font-family: Brush Script MT, 'Times New Roman', Times, serif;
}

.subheader {
    background-color: rgba(197, 120, 75, 0.781);
    color: white;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: Brush Script MT, 'Times New Roman', Times, serif;

}

.rcp-description {
    font-family: Brush Script MT, 'Times New Roman', Times, serif;
    font-size: 20px;
}

.rcp-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
